<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TemplateBeginEditable name="doctitle" -->
    <title>Bootstrap eCommerce Page Template</title>
    <!-- TemplateEndEditable -->
    <!-- Bootstrap -->
    <link href="file:///Untitled/mc327/website/css/bootstrap-4.4.1.css" rel="stylesheet">
<link href="file:///Untitled/mc327/website/Favorite Brands.html.css" rel="stylesheet" type="text/css">
<link href="file:///Untitled/mc327/website/Favorite styles.css" rel="stylesheet" type="text/css">
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <h2><a class="navbar-brand" href="#">NOAH GOLDSMITH&nbsp;</a> </h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"> <a href="Home.html">Home </a></li>
          <li class="nav-item"> <a href="Brands.html">
          <link>
Brand&nbsp;</a></li>
          <li class="nav-item dropdown"> <a href="eventes.html">Event&nbsp;&nbsp;</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> </div>
          </li>
          <li class="nav-item"> <a href="Reesearch.html">Research&nbsp;</a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
</form>
      </div>
    </div>
  </nav>
  <header class="row">
    <div class="col-lg-12">
      <h2>Noah Goldsmith&nbsp; &nbsp; &nbsp;</h2>
      <p>&nbsp; &nbsp; "BLESSUP"&nbsp; &nbsp; &nbsp; &nbsp;</p>
    </div>
  </header>
  <!-- TemplateBeginEditable name="maincontent" -->
  <div class="wrapper">
    <div class="container mt-3">
      <div class="row">
        <div class="col-12"> </div>
      </div>
</div>
    <div class="row">
      <div class="col-lg-12"></div>
    </div>
    <div class="container">
      <div class="row"></div>
    </div>
    <hr>
    <p>&nbsp; My Favorite Brands</p>
    <p>&nbsp; I choose Nike and Lacoste. Both brands offer athletic and business casual clothing. These brands are my favorite because they are usually made of quality material. I am confident about spending a little more money on these products than other brands, because I know I will receive material that will serve its purpose and last me a long time.</p>
    <p>Why Nike and Lacoste?</p>
    <p>Nike specifically because of the mainstream understanding of what they stand for and who they represent. I don’t have to answer the question “what are you wearing?” Or “What does that mean?” Also, some of my favorite athletes represent Nike, including LeBron James, Kyrie Irving, and Odell Beckham Jr.</p>
<p>&nbsp;While Nike stands for some things that I don’t entirely support like Chinese penny labor for example. I can get behind some things they do stand for like equality for everybody.&nbsp;</p>
    <p>Another reason I love Nike is because their commercials are unbeatable, it’s hard for me to not be inspired by a good Nike commercial. “Just do it” makes me want to get up and chase my dreams down. Their commercials are very cinematic with a dramatic and sometimes comedic approach which hits home for me.</p>
    <p>&nbsp;I like Lacoste because of its versatility. Like Nike, Lacoste offers both athletic and business casual clothing. However, Lacoste is more widely recognized as a formal brand. Lacoste offers polo’s, shoes, cargo shorts, and other “hipster” type articles of clothing.&nbsp;</p>
    <p>I like the crocodile logo. I think it’s classy and it's been around for a while. It matches and collabs with a lot of other brands. Rodger Federer wears it during tennis matches and sports the brand very well.</p>
    <p>&nbsp;Personally, I do not own any Lacoste at the moment. However, I love their marketing campaigns, promotions, and Instagram feed. They use a mix of graphic design and real-life models that is very intriguing.&nbsp;</p>
    <p>Brands guide my decisions to purchase because they help either me communicate the point I am trying to get across or help me accomplish my goals. Different brands have different things to offer and according to what I am trying to do whether that is physical activity or I need a new shirt for a date. </p>
    <p>&nbsp;I will be using a shade of purple from “redketchup” website. “#AB97CF” </p>
    <img src="../purple square.png" width="200" height="200" alt=""/>
    <p>I will be using a Serif font from “my fonts” website. Serif&nbsp;</p>
    <img src="../serif.png" alt="" width="300" height="168">
<p>&nbsp;</p>
<hr>
    <div class="container">
      <div class="row"></div>
    </div>
    <hr>
  </div>
  <!-- TemplateEndEditable -->
<div class="container text-white bg-dark p-4">
  <div class="row">
        <div class="col-6 col-md-8 col-lg-12">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link">
<div>&nbsp;</div>
                <a>Philanthropy&nbsp;</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link">
<div>&nbsp;</div>
                <a>Portfolio&nbsp;</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12 row">
              <ul class="list-unstyled">
                <li class="btn-link">
<div>&nbsp;</div>
                <a>Music&nbsp;</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6 row">
          <address class="col-lg-6">
          <strong>@nonogeezy</strong>
          </address>
          <address class="col-lg-6">
          <strong>&nbsp;</strong>
          </address>
          <address class="col-lg-6">
          <strong>blessupgear.com</strong>
          </address>
          <address class="col-lg-6">
          &nbsp;
          </address>
        </div>
  </div>
  </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="file:///Untitled/mc327/website/js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="file:///Untitled/mc327/website/js/popper.min.js"></script>
    <script src="file:///Untitled/mc327/website/js/bootstrap-4.4.1.js"></script>
  </body>
</html>